<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Student signup requests</title>
</head>

<body>

  <!-- Fragment af top-navigation.-->
  <div th:insert="fragments/topnav">Menu</div>

  <h3>Student Signup Requests</h3>
  <hr>

  <!-- Vis-
  Fra user:
  User id?

  firstname
  lastname?
  Fra course:
  course id
  navn
  -->

  <table class="table table-hover table-striped">
      <thead class="thead bg-dark">
      <tr>
          <th class="text-white">Student ID</th>
          <th class="text-white">First name</th>
          <th class="text-white">Last name</th>
          <th class="text-white">Username</th>
          <th class="text-white">Course ID</th>
          <th class="text-white">Name (English)</th>
          <th class="text-white">Actions</th>
      </tr>
      </thead>
      <tbody>

        <tr th:each="userCourse : ${userCourseList}">
            <td th:text="${userCourse.user.id}"></td>
            <td th:text="${userCourse.user.first_name}"> </td>
            <td th:text="${userCourse.user.last_name}"> </td>
            <td th:text="${userCourse.user.username}"> </td>
            <td th:text="${userCourse.course.id}"> </td>
            <td th:text="${userCourse.course.name_en}"> </td>
            <td>
                <form th:action="@{'/users/student-signup-requests'}" method="POST">
                    <input type="hidden" name="user_id" th:value="${userCourse.user.id}">
                    <input type="hidden" name="course_id" th:value="${userCourse.course.id}">
                    <input type="hidden" name="approvedeny" th:value="approve">
                    <button type="submit">Approve</button>
                </form>
                <form th:action="@{'/users/student-signup-requests'}" method="POST">
                    <input type="hidden" name="user_id" th:value="${userCourse.user.id}">
                    <input type="hidden" name="course_id" th:value="${userCourse.course.id}">
                    <input type="hidden" name="approvedeny" th:value="deny">
                    <button type="submit">Deny</button>
                </form>
            </td>

        </tr>

      </tbody>
  </table>
  <!--/*/ <th:block th:include="fragments/footer.html"> </th:block> /*/-->
</body>
</html>
