.container-fluid {
  padding: 0;
}

form input {
  display: block;
}

 a, form.forms {
   display:inline;
 }

 #logout{
   display: block;
   position: absolute;
   top:10px;
   right:10px;
 }


#status{
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}

#role {
  text-transform: lowercase;  
}
