<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Add</title>
</head>

<body>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<h3>Add Course</h3>

<form action="/courses/add" method="post">

    <button type="submit">Add</button>
</form>


<table class="table table-hover table-striped">
    <tr>
        <th class="font-weight-bol">Name (Danish)</th>
        <td class="font-weight-light">
            <input name="name_da" class="form-control" placeholder="name_da"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Name (English)</th>
        <td class="font-weight-light">
            <input name="name_en" class="form-control" placeholder="name_en"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Semester</th>
        <td class="font-weight-light">
            <input type="number" name="semester" class="form-control" placeholder="semester"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Class Code</th>
        <td class="font-weight-light">
            <input name="class_code" class="form-control" placeholder="class_code"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Study Programme</th>
        <td class="font-weight-light">
            <input name="study_programme" class="form-control" placeholder="study_programme"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Mandatory or Elective</th>
        <td class="font-weight-light">
            <input name="mandatory_or_elective" class="form-control" placeholder="mandatory_or_elective"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">ECTS</th>
        <td class="font-weight-light">
            <input type="number" name="ects" class="form-control" placeholder="ects"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Course Language</th>
        <td class="font-weight-light">
            <input name="course_language" class="form-control" placeholder="course_language"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Minimum # of Students</th>
        <td class="font-weight-light">
            <input type="number" name="min_students" class="form-control" placeholder="min_students"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Maximum # of Students</th>
        <td class="font-weight-light">
            <input type="number" name="max_students" class="form-control" placeholder="max_students"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Expected # of Students</th>
        <td class="font-weight-light">
            <input type="number" name="expected_students" class="form-control" placeholder="expected_students"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Prerequisites</th>
        <td class="font-weight-light">
            <input name="prerequisites" class="form-control" placeholder="prerequisites"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Learning Outcome</th>
        <td class="font-weight-light">
            <input name="learning_outcome" class="form-control" placeholder="learning_outcome"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Content</th>
        <td class="font-weight-light">
            <input name="content" class="form-control" placeholder="content"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Learning Activities</th>
        <td class="font-weight-light">
            <input name="exam_form" class="form-control" placeholder="exam_form"/>
        </td>
    </tr>
    <tr>
        <th class="font-weight-bol">Exam Form</th>
        <td class="font-weight-light">
            <input name="exam_form" class="form-control" placeholder="exam_form"/>
        </td>
    </tr>
</table>

</body>
</html>
