<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Update</title>
</head>

<body class='list'>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<h3>Add Course</h3>

<form th:action="@{/courses/add}" method="post" class="forms">
    <input type="submit" value="Add" class='btn btn-secondary btn-sm'/>

    <table class="table table-hover table-striped">
        <tr>
            <th class="font-weight-bol">Name (Danish)</th>
            <td class="font-weight-light">
                <input type="text" name="name_da" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Name (English)</th>
            <td class="font-weight-light">
                <input type="text" name="name_en" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Semester</th>
            <td class="font-weight-light">
                <input type="number" name="semester" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Class Code</th>
            <td class="font-weight-light">
                <input type="text" name="class_code" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Study Programme</th>
            <td class="font-weight-light">
                <input type="text" name="study_programme" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Mandatory or Elective</th>
            <td class="font-weight-light">
                <input type="text" name="mandatory_or_elective" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">ECTS</th>
            <td class="font-weight-light">
                <input type="number" name="ects" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Course Language</th>
            <td class="font-weight-light">
                <input type="text" name="course_language" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Minimum # of Students</th>
            <td class="font-weight-light">
                <input type="number" name="min_students" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Maximum # of Students</th>
            <td class="font-weight-light">
                <input type="number" name="max_students" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Expected # of Students</th>
            <td class="font-weight-light">
                <input type="number" name="expected_students" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Prerequisites</th>
            <td class="font-weight-light">
                <input type="text" name="prerequisites" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Learning Outcome</th>
            <td class="font-weight-light">
                <input type="text" name="learning_outcome" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Content</th>
            <td class="font-weight-light">
                <input type="text" name="content" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Learning Activities</th>
            <td class="font-weight-light">
                <input type="text" name="learning_activities" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Exam Form</th>
            <td class="font-weight-light">
                <input type="text" name="exam_form" class="form-control"/>
            </td>
        </tr>
        <tr>
            <th class="font-weight-bol">Teachers</th>
            <td class="font-weight-light">
                <div th:each="t : ${teachers}">
                    <input type="checkbox" th:name="usersFollowing" th:value="${t.id}"/>
                    <span th:text="${t.first_name} + ' ' + ${t.last_name}"></span>
                    <!--<span th:text="${t.first_name}"></span> <form:checkbox path="approved_students_teachers" th:value="${t.id}"/>-->
                </div>
            </td>
        </tr>
    </table>

</form>
<!--/*/ <th:block th:include="fragments/footer.html"> </th:block> /*/-->
</body>
</html>
