<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Method in Form is CSS that makes the buttons stay line by line-->
    <style>
        form{
            display:inline;
        }
    </style>
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Course List</title>
</head>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<body class='list'>



<div class="container-fluid">

    <h3>Course Info</h3>
    <hr>

    <!-- TODO: Change 'Form' to a href -->


    <form action="/courses/list">
        <button type="submit" class="btn btn-secondary btn-sm">Return to List               </button>
    </form>

    <!-- marcus: I realize this is very messy so maybe we need to relocate this or other data elsewhere: -->
    <!-- Teacher only, only the courses she/he teaches -->
    <a href="/courses/update/" class="btn btn-secondary btn-sm">Edit Course</a>

    <!-- Administration worker only. Approve student signup is its own page (in the menu) rather than here. -->
    <form>
        <button type="button" class="btn btn-secondary btn-sm">Students/Teachers in Course</button>
    </form>
    <!-- Student/Teacher only -->
    <form>
        <button type="button" class="btn btn-secondary btn-sm">Sign up</button>
    </form>
    <!-- Part of CRUD, but who can do this? -->
    <form>
        <button type="button" class="btn btn-secondary btn-sm">Delete Course</button>
    </form>


    <!-- The following is an attempt to make a course-info-page like the one in the assignment desc-->
<!-- This page will show the details about the chosen course. Not sure about the logic behind it yet-->
    <table th:object="${course}" class="table table-hover table-striped">
        <tr>
            <td class="font-weight-bol thead-light">ID</td>
            <td class="font-weight-light" th:field="*{id}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Name (Danish)</td>
            <td class="font-weight-light" th:field="*{name_da}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Name (English)</td>
            <td class="font-weight-light" th:field="*{name_en}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Semester</td>
            <td class="font-weight-light" th:field="*{semester}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Class Code</td>
            <td class="font-weight-light" th:field="*{class_code}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Study Programme</td>
            <td class="font-weight-light" th:field="*{study_programme}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Mandatory or Elective</td>
            <td class="font-weight-light" th:field="*{mandatory_or_elective}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">ECTS</td>
            <td class="font-weight-light" th:field="*{ects}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Minimum # of Students</td>
            <td class="font-weight-light" th:field="*{min_students}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Maximum # of Students</td>
            <td class="font-weight-light" th:field="*{max_students}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Expected # of Students</td>
            <td class="font-weight-light" th:field="*{expected_students}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Prerequisites</td>
            <td class="font-weight-light" th:field="*{prerequisites}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Learning Outcome</td>
            <td class="font-weight-light" th:field="*{learning_outcome}">Info here</td>
        </tr>
        <tr>
            <td class="font-weight-bol">Content</td>
            <td class="font-weight-light" th:field="*{content}">Info here</td>
        </tr>
        <tr>
            <!-- This needs to be added to the model! -->
            <!-- <td class="font-weight-bol">Learning Activities</td> -->
            <!-- <td class="font-weight-light" th:field="*{learning_activities}">Info here</td> -->
        </tr>
        <tr>
            <td class="font-weight-bol">Exam Form</td>
            <td class="font-weight-light" th:field="*{exam_form}">Info here</td>
        </tr>
        <!-- this is the many to many relation, we need to handle this differently from the others -->
        <!--
        <tr>
            <td class="font-weight-bol">Teachers</td>
            <td class="font-weight-light" th:field="*{teachers}">Info here</td>
        </tr>
        -->
    </table>


     <tbody>
       <!--
                <form action="/courses/update" method='POST'>
                    <input type="hidden" th:value="${course.id}" id="id"/>
                    <input type="submit" value="Update"/>
                </form>

                <form action="/courses/delete" method='POST'>
                    <input type="hidden" th:value="${course.id}" id="id"/>
                    <input type="submit" value="Delete" onclick="getConfirmation()" />
                </form>

            </td>

       -->

            <!-- Unnecessary -->
            <script type = "text/javascript">

                function getConfirmation() {
                    var warning = confirm("By accepting, you will delete the Course with its related API-key(s) and HTTP-Requst type(s)");

                    if(warning == true) {

                    }
                    else {
                        //warning == false;
                    }
                }
            </script>


            <!--</tr> -->
        </tbody>
    </table>
</div>


</body>
</html>
