<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Method in Form is CSS that makes the buttons stay line by line-->
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Course List</title>
</head>

<body class='list'>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<div th:object="${course}" class="container-fluid">

    <h3>Course Info</h3>

    <a href="/courses/list" class="btn btn-secondary btn-sm">Back</a>
    <!-- marcus: I realize this is very messy so maybe we need to relocate this or other data elsewhere: -->
    <!-- Teacher only, only the courses she/he teaches -->
    <a th:href="@{'/courses/update/' + *{id}}" class="btn btn-secondary btn-sm">Update</a>
    <!-- Administration worker only. Approve student signup is its own page (in the menu) rather than here. -->
    <a href="/courses/my" class="btn btn-secondary btn-sm">Students/Teachers in Course</a>
    <!-- Student/Teacher only -->
    <a href="/student-signup-requests" class="btn btn-secondary btn-sm">Sign Up</a>
    <!-- Part of CRUD, but who can do this? -->
    <form th:action="@{/courses/delete}" method='POST' class="forms">
        <input type="hidden" th:value="*{id}" name="id"/>
        <input type="submit" value="Delete" class='btn btn-secondary btn-sm'/>
    </form>

    <!-- The following is an attempt to make a course-info-page like the one in the assignment desc-->
    <!-- This page will show the details about the chosen course. Not sure about the logic behind it yet-->
    <table class="table table-hover table-striped">
        <tr>
            <th class="font-weight-bol">ID</th>
            <td class="font-weight-light" th:text="*{id}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Name (Danish)</th>
            <td class="font-weight-light" th:text="*{name_da}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Name (English)</th>
            <td class="font-weight-light" th:text="*{name_en}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Semester</th>
            <td class="font-weight-light" th:text="*{semester}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Class Code</th>
            <td class="font-weight-light" th:text="*{class_code}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Study Programme</th>
            <td class="font-weight-light" th:text="*{study_programme}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Mandatory or Elective</th>
            <td class="font-weight-light" th:text="*{mandatory_or_elective}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">ECTS</th>
            <td class="font-weight-light" th:text="*{ects}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Maximum # of Students</th>
            <td class="font-weight-light" th:text="*{course_language}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Minimum # of Students</th>
            <td class="font-weight-light" th:text="*{min_students}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Maximum # of Students</th>
            <td class="font-weight-light" th:text="*{max_students}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Expected # of Students</th>
            <td class="font-weight-light" th:text="*{expected_students}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Prerequisites</th>
            <td class="font-weight-light" th:text="*{prerequisites}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Learning Outcome</th>
            <td class="font-weight-light" th:text="*{learning_outcome}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Content</th>
            <td class="font-weight-light" th:text="*{content}"></td>
        </tr>
        <tr>
            <th class="font-weight-bol">Learning Activities</th>
            <td class="font-weight-light" th:text="*{learning_activities}">Info here</td>
        </tr>
        <tr>
            <th class="font-weight-bol">Exam Form</th>
            <td class="font-weight-light" th:text="*{exam_form}">Info here</td>
        </tr>
        <!-- this is the many to many relation, we need to handle this differently from the others
        <tr>
            <th class="font-weight-bol">Teachers</th>
            <td class="font-weight-light" th:text="*{teachers}">Info here</td>
        </tr>
        -->
    </table>

</div>

</body>
</html>
