<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Purpose of this list is to display quick-info about the course. A fully list can be seen when "show more" is selected-->
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Course Info</title>
</head>

<body class='list'>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<div class="container-fluid">


  <!-- TODO: Add something like this whereever you want to print the user name: -->
  <!--<div sec:authorize="isAuthenticated()"> Authenticated as <span sec:authentication="name"></span></div>-->
  <!-- And to get the Role: -->
  <!-- Roles: <span sec:authentication="principal.authorities"></span> -->

  <h3>Course List</h3>

  <a href="/courses/add" sec:authorize="hasRole('ROLE_TEACHER')" class='btn btn-secondary btn-sm'>Add Course</a>

  <table class="table table-hover table-striped">
      <thead class="thead bg-dark">
        <tr>
            <th class="text-white">ID</th>
            <th class="text-white">Name (English)</th>
            <th class="text-white">Study Programme</th>
            <th class="text-white">ECTS</th>
            <th class="text-white">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="c : ${courses}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name_en}"></td>
            <td th:text="${c.study_programme}"></td>
            <td th:text="${c.ects}"></td>

            <td>
                <a th:href="@{'/courses/info/' + ${c.id}}" class='btn btn-secondary btn-sm'>Details</a>
                <a th:href="@{'/courses/update/' + ${c.id}}" sec:authorize="hasRole('ROLE_TEACHER')" class="btn btn-secondary btn-sm">Update</a>

                <form th:action="@{/users/student-signup}" method='POST' sec:authorize="hasRole('ROLE_STUDENT')" class="forms">
                    <input type="hidden" th:value="${c.id}" name="id"/>


                    <span th:if="${c.pendingStudents.contains(#authentication.getPrincipal().getUser()) }">
                         <input type="submit" value="Pending" class='btn btn-secondary btn-sm'/>
                    </span>
                    <span th:if="${c.usersFollowing.contains(#authentication.getPrincipal().getUser()) }">
                         <input type="submit" value="Enrolled" class='btn btn-secondary btn-sm'/>
                    </span>
                    <span th:if="${true}">
                         <input type="submit" value="Sign Up" class='btn btn-secondary btn-sm'/>
                    </span>
                </form>
                <form th:action="@{/courses/delete}" method='POST' sec:authorize="hasRole('ROLE_ADMIN')" class="forms">
                    <input type="hidden" th:value="${c.id}" name="id"/>
                    <input type="submit" value="Delete" class='btn btn-secondary btn-sm'/>
                </form>
            </td>

            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                function getConfirmation() {
                    var warning = confirm("Are you sure you want to delete " + /*[[${c.name_en}]]*/ + "?");

                    if (warning) {
                        //true / ok
                    } else {
                        //false / annuller;
                    }
                }
                /*]]>*/
            </script>

        </tr>
      </tbody>
  </table>

</div>
<!--/*/ <th:block th:include="fragments/footer.html"> </th:block> /*/-->
</body>
</html>
