<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Purpose of this list is to display quick-info about the course. A fully list can be seen when "show more" is selected-->
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Course Info</title>

</head>

<body class='list'>

<!-- Fragment af top-navigation.-->
<div th:insert="fragments/topnav">Menu</div>

<div class="container-fluid">

    <h3>Course List</h3>
    <hr>

    <table class="table table-hover table-striped">
        <thead class="thead bg-dark">
        <tr>
            <th class="text-white">ID                    </th>
            <th class="text-white">Name (Danish)         </th>
            <th class="text-white">Name (English)        </th>
            <th class="text-white">Edit                  </th>


        </tr>
        </thead>

        <tbody>
        <!-- tempEmployee = Loop parameter-->
        <!--                  : = Loops over list of Courses-->
        <!--                      Courses comes from Java code-->
        <tr th:each="c : ${courses}">
            <td th:text="${c.id}"               ></td>
            <td th:text="${c.name_da}"          ></td>
            <td th:text="${c.name_en}"          ></td>

            <td>
                <form action="/courses/update" method='POST'>
                    <input type="hidden" th:value="${c.id}" id="id"/>
                    <input type="submit" class='btn btn-secondary btn-sm' value="Update"/>
                </form>

                <form action="/courses/delete" method='POST'>
                    <input type="hidden" th:value="${c.id}" id="id"/>
                    <input type="submit" value="Delete" class='btn btn-secondary btn-sm' onclick="getConfirmation()" />
                </form>

                <a th:href="@{'/courses/info/' + ${c.id}}" class='btn btn-secondary btn-sm'>Course Details</a>

            </td>


            <script type = "text/javascript">

                function getConfirmation() {
                    var warning = confirm("By accepting, you will delete the Course with its related API-key(s) and HTTP-Requst type(s)");

                    if(warning == true) {
                        //do-something
                    }
                    else {
                        //warning == false;
                    }
                }
            </script>


            <!--</tr> -->
        </tbody>
    </table>
</div>


</body>
</html>
