<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/header.html"> </th:block> /*/-->
    <title>Title</title>
</head>

<body>

  <!-- Fragment af top-navigation.-->
  <div th:insert="fragments/topnav">Menu</div>

  <h3>Update Course</h3>
  <hr>

  <form action="/update" method="post">
      <div class="col py-3 px-lg-5 border bg-light">
          <!-- hidden input felt til at få id med -->
          <input type="hidden" name="id" th:value="${course.id}">
          <input type="text" name="name-da" class="form-control" th:value="${course.name_da}">
      </div>


      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="name-english" class="form-control" th:value="${course.name_en}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="number" name="semester" class="form-control" th:value="${course.semester}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="class-code" class="form-control" th:value="${course.class_code}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="study-programme" class="form-control" th:value="${course.study_programme}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="mandatory-or-elective" class="form-control" th:value="${course.mandatory_or_elective}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="number" name="ects" class="form-control" th:value="${course.ects}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="course-language" class="form-control" th:value="${course.course_language}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="number" name="min-students" class="form-control" th:value="${course.min_students}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="number" name="max-students" class="form-control" th:value="${course.max_students}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="number" name="expected-students" class="form-control" th:value="${course.expected_students}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="prerequisites" class="form-control" th:value="${course.prerequisites}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="learning-outcome" class="form-control" th:value="${course.learning_outcome}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="content" class="form-control" th:value="${course.content}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="exam-form" class="form-control" th:value="${course.exam_form}">
      </div>
      <div class="col py-3 px-lg-5 border bg-light">
          <input type="text" name="teachers" class="form-control" th:value="${course.teachers}">
      </div>

        <button type="submit">Update</button>
  </form>
</body>
</html>
