<head xmlns:sec="http://www.w3.org/1999/xhtml">
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: static;">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <!-- Also where you sign up for following/teaching one? Also the startpage. -->
                    <a class="nav-link" href="/courses/list">Course List</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <!-- Administration worker only: Approve student request to sign up for a course. -->
                    <a class="nav-link" href="/users/student-signup-requests">Student signup requests</a>
                </li>

                <div class="dropdown show" id="status">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span sec:authentication="name"></span> (<span id='role' sec:authentication="principal.authorities[0]"></span>)
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- Show those courses a student is signed up for or those a teacher teaches? -->
                        <a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_TEACHER')" href="/users/my">My Courses</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </ul>
        </nav>
        <!--/*/ <th:block th:include="fragments/footer.html"> </th:block> /*/-->
    </body>
</head>

